@import "../variables.scss";

footer.footer {
  height: 209px;
  width: 100%;
  background-color: black;
  display: flex;
  & > .footer-content {
    margin: 0 auto;
    margin-top: 66px;
    margin-bottom: 29px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > .footer-logo {
      width: 122px;
      height: auto;
      margin: 0 auto;
    }
    & > .footer-copyright {
      color: white;
      font-size: 24px;
      font-weight: 500;
      line-height: 142.6%; /* 34.224px */
      text-align: center;
      margin: 0;
      @media (max-width: $mobile-width) {
        font-size: 12px;
      }
    }
  }
}
